Import all libs and set the browser webdriver path:

In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

driver_path = "C:/Users/mathe/intensivo-hashtag/Aula3/chromedriver.exe"
brave_path = "C:/Program Files/BraveSoftware/Brave-Browser/Application/brave.exe"

option = webdriver.ChromeOptions()
option.binary_location = brave_path
# option.add_argument("--incognito") OPTIONAL
# option.add_argument("--headless") OPTIONAL

# Create new Instance of Chrome
browser = webdriver.Chrome(executable_path=driver_path, options=option)

Get dollar price in reais:

In [2]:
browser.get("https://google.com")
browser.find_element_by_xpath(
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("dólar")

browser.find_element_by_xpath(
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

dollar_price = browser.find_element_by_xpath(
    '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")

print(dollar_price)

5.5188999999999995

Get euro price in reais:

In [3]:
browser.get("https://google.com")
browser.find_element_by_xpath(
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("euro")

browser.find_element_by_xpath(
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

euro_price = browser.find_element_by_xpath(
    '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")

print(euro_price)

6.378468675000001

Get gold price in reais:

In [4]:
browser.get("https://www.melhorcambio.com/ouro-hoje")

gold_price = browser.find_element_by_xpath(
    '//*[@id="comercial"]').get_attribute("value")

#Replace comma with dot
gold_price = gold_price.replace(",", ".")

print(gold_price)

311.59

Read "Produtos.xlsx" and display:

In [5]:
spreadsheet = pd.read_excel("Produtos.xlsx")
display(spreadsheet)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

Update currencies prices:

In [6]:
spreadsheet.loc[spreadsheet["Moeda"] == "Dólar", "Cotação"] = float(dollar_price)
spreadsheet.loc[spreadsheet["Moeda"] == "Euro", "Cotação"] = float(euro_price)
spreadsheet.loc[spreadsheet["Moeda"] == "Ouro", "Cotação"] = float(gold_price)

display(spreadsheet)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5.518900,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6.378469,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5.518900,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5.518900,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6.378469,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5.518900,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,311.590000,7000.00,1.15,8050.000

Update converted prices and final prices:

In [7]:
spreadsheet["Preço de Base Reais"] = spreadsheet["Preço Base Original"] * spreadsheet["Cotação"]
spreadsheet["Preço Final"] = spreadsheet["Preço de Base Reais"] * spreadsheet["Margem"]
display(spreadsheet)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final,Preço de Base Reais
0,Câmera Canon,999.99,Dólar,5.518900,4999.95,1.40,7726.382735,5518.844811
1,Carro Renault,4500.00,Euro,6.378469,27000.00,2.00,57406.218075,28703.109038
2,Notebook Dell,899.99,Dólar,5.518900,4499.95,1.70,8443.823179,4966.954811
3,IPhone,799.00,Dólar,5.518900,3995.00,1.70,7496.321870,4409.601100
4,Carro Fiat,3000.00,Euro,6.378469,18000.00,1.90,36357.271447,19135.406025
5,Celular Xiaomi,480.48,Dólar,5.518900,2402.40,2.00,5303.442144,2651.721072
6,Joia 20g,20.00,Ouro,311.590000,7000.00,1.15,7166.570000,6231.800000

Create new excel spreadsheet with updated values and end browser session:

In [8]:
spreadsheet.to_excel("Produtos Novo.xlsx", index=False)
browser.quit()